#game {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

body {
  background-image: url("acoplypse-bg.jpg");
  background-size: cover;
  overflow: hidden;
}

#pipe1 {
  position: absolute;
  width: 100px;
  height: 50%;
  background-image: url("red-pipe.png");
  transform: rotate(180deg);
}

#pipe2 {
  position: absolute;
  width: 100px;
  height: 30%;
  top: 80%;
  background-image: url("red-pipe.png");
}
#pipe1b {
  position: relative;
  left: 70%;
  width: 100px;
  height: 50%;
  background-image: url("red-pipe.png");
  transform: rotate(180deg);
}

#pipe2b {
  position: relative;
  left: 70%;
  width: 100px;
  height: 30%;
  top: 80%;
  background-image: url("red-pipe.png");
}

.obs {
  left: 95%;
  animation: move 3s linear infinite;
  background-repeat: no-repeat;
  background-size: cover;
}
.obs2 {
  left: 95%;
  animation: move 3s linear 1.5s infinite;
  background-repeat: no-repeat;
  background-size: cover;
}

@keyframes move {
  0% {
    left: 100%;
  }
  100% {
    left: -6%;
  }
}

#bird {
  position: absolute;
  top: 40%;
  left: 190px;
}

#bird img {
  height: 70px;
  width: 100px;
}

#score {
  position: absolute;
  top: 10%;
  color: white;
  font-size: x-large;
  font-weight: bold;
  margin-left: 2%;
}
